aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
attrs==24.2.0
blinker @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/blinker_1699474692786/work
certifi==2024.8.30
charset-normalizer==3.3.2
click @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/click_1699473800648/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
datasets==2.21.0
dill==0.3.8
docstring_parser==0.16
filelock==3.16.0
Flask @ file:///C:/b/abs_f9w7doyu0h/croot/flask_1716545924884/work
frozenlist==1.4.1
fsspec==2024.6.1
hf_transfer==0.1.8
huggingface-hub==0.24.6
idna==3.8
itsdangerous @ file:///C:/b/abs_c4vwgdr5yn/croot/itsdangerous_1716533399914/work
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/markupsafe_1707425732791/work
mdurl==0.1.2
multidict==6.0.5
multiprocess==0.70.16
numpy==2.1.1
packaging==24.1
pandas==2.2.2
protobuf==3.20.3
psutil==6.0.0
pyarrow==17.0.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
regex==2024.7.24
requests==2.32.3
rich==13.8.0
safetensors==0.4.5
sentencepiece==0.2.0
setuptools==72.1.0
shtab==1.7.1
six==1.16.0
tokenizers==0.19.1
tqdm==4.66.5
transformers==4.44.2
typing_extensions==4.12.2
tyro==0.8.10
tzdata==2024.1
unsloth @ git+https://github.com/unslothai/unsloth.git@d91d40a7b6b556f2d1fdd3e1e430f7a76a799627
urllib3==2.2.2
Werkzeug @ file:///C:/b/abs_8bittcw9jr/croot/werkzeug_1716533366070/work
wheel==0.43.0
xxhash==3.5.0
yarl==1.10.0
